name: Build and Push Docker Image to GCP Artifact Registry

on:
  push:
    branches:
      - main

env:
  SERVICE_NAME: gcp-demo-service
  REPOSITORY_NAME: my-repo
  IMAGE_NAME: gcp-demo-service

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: Dev
    permissions:
      contents: 'read'
      id-token: 'write' # Required for Workload Identity Federation

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Set up Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 3️⃣ Build JAR
      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # 5️⃣ Set up gcloud
      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # 6️⃣ Configure Docker for Artifact Registry
      - name: Docker Auth
        run: gcloud auth configure-docker ${{ secrets.GCP_ARTIFACT_REGISTRY_LOCATION }}-docker.pkg.dev --quiet

      # 7️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.GCP_ARTIFACT_REGISTRY_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_ARTIFACT_REGISTRY_REPO }}/product-service:${{ github.sha }} .

      # 8️⃣ Push Docker image
      - name: Push Docker image
        run: |
          docker push \
            ${{ secrets.GCP_ARTIFACT_REGISTRY_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_ARTIFACT_REGISTRY_REPO }}/product-service:${{ github.sha }}

      # 9️⃣ Deploy to Cloud Run
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy gcp-demo \
            --image ${{ secrets.GCP_ARTIFACT_REGISTRY_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_ARTIFACT_REGISTRY_REPO }}/product-service:${{ github.sha }} \
            --region ${{ secrets.GCP_ARTIFACT_REGISTRY_LOCATION }} \
            --platform managed \
            --allow-unauthenticated \
            --memory 512Mi \
            --cpu 1
